@import 'http://at.alicdn.com/t/font_1869978_a7n89p6d95d.css';
html,
body,
#app {
  height: 100vh;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}
.el-header {
  width: 99vw;
}
.el-main {
  width: 99vw;
}
.el-footer {
  width: 99vw;
}
